---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>stonelord.dev</title>
  </head>
  <body class="dark:text-white dark:bg-zinc-800">
    <div class="flex justify-center">
      <div class="max-w-[680px] w-full mx-[20px]">
        <div class="w-full flex justify-end mr-[10px] mt-[10px]">
          <a href="https://github.com/astone123/stonelord.dev">
            <img
              class="dark:hidden"
              alt="View site source code on Github"
              src="/github-mark.svg"
              width="35"
            />
            <img
              class="hidden dark:block"
              alt="View site source code on Github"
              src="/github-mark-white.svg"
              width="35"
            />
          </a>
        </div>
        <div class="my-[25px]">
          <h1>Hi, I'm Adam</h1>
        </div>
        <footer class="w-full flex items-center justify-evenly">
          <a href="/resume.pdf" target="_blank">
            <img
              class="dark:hidden"
              alt="View Adam's resume"
              src="/file-document.svg"
              width="30"
            />
            <img
              class="hidden dark:block"
              alt="View Adam's resume"
              src="/file-document-white.svg"
              width="30"
            />
          </a>
          <a href="https://github.com/astone123/">
            <img
              class="dark:hidden"
              alt="View Adam's profile on Github"
              src="/github-mark.svg"
              width="30"
            />
            <img
              class="hidden dark:block"
              alt="View Adam's profile on Github"
              src="/github-mark-white.svg"
              width="30"
            />
          </a>
          <a
            href="https://www.linkedin.com/in/adam-stone-lord-a9b9aaa8/"
            target="_blank"
          >
            <img
              src="/LI-In-Bug.png"
              alt="View Adam's profile on LinkedIn"
              width="30"
            />
          </a>
          <a href="mailto:adam@stonelord.dev" target="_blank">
            <img
              class="dark:hidden"
              alt="Send Adam an email"
              src="/email.svg"
              width="30"
            />
            <img
              class="hidden dark:block"
              alt="Send Adam an email"
              src="/email-white.svg"
              width="30"
            />
          </a>
        </footer>
      </div>
    </div>
  </body>
</html>
